.MyNavbar{
   background:whitesmoke;
   position:fixed;
   z-index:99999990;
   width:100%;
   top:0;
   box-shadow:2px 2px 10px #222;
   
}


#about{
   margin-top:100px;
}

#switch{
   color:;
   background:blue;
}

#openMenu{
   background:whitesmoke;
   color:blue;
   /* position:fixed; */
   z-index:99990;
   padding:;
}



body{
   background:white;
}

.links{
   background:whitesmoke;
   display:none;
   padding:20px;
}

.links a{
   display:block;
   text-align:center;
   text-decoration:none;
   color:white;
   font-size:1.3rem;
   font-family: 'Syne Mono', monospace;
   margin-top:10px;
   font-weight:bold;
   

}


/* dark mode */
.dark-mode{
   background:#333;
   color:white;
   
}

.social-links{
   text-align:center;
   margin-top:20px;
   display:none;
   border-bottom:5px solid green;
   background:green;
   padding:10px;
   margin-top:-10px;
}

.social-links i{
   font-size:2rem;
   color:white;
   margin:10px;
}

.row{
   padding:10px;
   
}

.heading{
   color:white;
}


.contact{
   background:#DCDCDC;
   padding:20px;
   text-align:center;
   
}

.social{
   margin:;
}

#btn{
   background:whitesmoke;
   color:black;
   border:none;
   border-radius:10px;
   font-size:1.3rem;
   margin:5px;
   width:40px;
   padding:5px;
}

.card{
   margin-bottom:20px;
   /* border:2px solid whitesmoke; */
   border:none;
   border-top-radius:10px;
   box-shadow:2px 2px 10px #222;
   
}

.Row{
   text-align:center;
   /* justify-content:center; */
   display:grid;
   padding:20px;
}

.Row .card img{
   /* width:300px; */
   text-align:center;
   display:block;
   margin:auto;
}

.card-body{
   /* background:whitesmoke; */
   z-index:9999999;
}




.item1{
   grid-column:1/12;
   margin:5px;
}

.item2{
   grid-column:1/12;
   margin:5px;
}

.item3{
   grid-column:1/13;
   margin:5px;
}

.item4{
   grid-column:1/12;
   margin:5px;
}









